body {
    background-color: black;
    margin: 0px;
}
 


.cabecalho {
    background-color: black;
    padding: 10px 100px;
}

.foto {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
}

.titulo {
    width: 30%;
    text-align: center;
    border-radius: 10px 0px 10px 0px;
    background-color: rgba(165, 42, 42, 0.400);
    font-family: Poppins;
    color: aliceblue;
    font-size: 12px;
}

.conteudo {
    background-color: rgb(41, 56, 56, 0.151);
    padding: 10px 100px;
}

main p {
    color: aliceblue;
    font-family: Poppins;
    font-size: 18px;
    text-align: justify;
}

main p:last-child {
    border-right: 3px solid red;
    font-style: italic;
}

.rodape {
    background-color: rgba(47, 79, 79, 0.151);
    padding: 10px 100px;
}

.rodape img {
    width: 30px;

}

.redesociais {

    display: flex;
    flex-direction: row;
    justify-content: center;
}
